*{margin:0;padding:0;}

body{background:#324c77;}

.header{background: #ffffff;width: 800px;margin:auto;padding:20px;}
.header h1{font-size:40px;font-weight: bold;}

.menu{background:#e0c9e2;width:800px;margin:auto;padding:20px;}
.menu a {margin-right:35px;color:#4b2f4f;font-weight: bold;text-decoration:none;}
.menu a:hover {color:#ffffff;text-decoration: underline;}

.article{background:#ffffff;width:800px;margin:auto;padding:20px;}
.article h2{background:#324c77;padding:10px;margin-bottom: 10px}
.article img{float:left;margin-right:10px;}
.article p{font-size: 18px; margin-bottom: 10px;text-align: justify;}

.footer {background:#e0c9e2;width:800px;margin:auto;padding:20px;}
.footer p{text-align: center;}